<!-- apply page -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/feed">lightbulb</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/posts/new"><span class="glyphicon glyphicon-plus"></span> New Project</a></li>
        <li><a href="/posts">Your Projects</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">John Doe <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                <span class="dropdown-text"> Portfolio</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-file"></span>
                <span class="dropdown-text"> Applications</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-star"></span>
                <span class="dropdown-text"> Starred</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-list"></span>
                <span class="dropdown-text"> History</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="dropdown-text"> Settings</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-off"></span>
                <span class="dropdown-text"> Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>



<div class="container">
  <div class="row">
    <h1 class="page-header">Apply</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3 class="">This Project</h3>

      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="http://goo.gl/hcc4ib" class="img-rounded post-img">
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#">
              <div class="caption newpost-media">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="">Add sample</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea name="comment" form="newpost" placeholder="Description here" rows="6" class="form-control"></textarea>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <h3 class="">Position Requirements</h3>
      <p>Nunc malesuada pretium consequat. Phasellus felis ligula, convallis sit amet augue at, tempor rutrum nibh.
        Sed sodales tristique magna ac dictum. Vestibulum non aliquet nibh. Vivamus id leo odio. In lacinia molestie
        sem id aliquet. Nulla eget mollis turpis. Donec euismod euismod magna, eu viverra felis rhoncus sit amet. Morbi
        finibus, orci efficitur tristique volutpat.</p>
      <ul>
        <li>blah blah blah blah</li>
        <li>blae blae blae blae blae</li>
        <li>bl</li>
      </ul>

      <h3 class="">Project Description</h3>
      <p>Nunc malesuada pretium consequat. Phasellus felis ligula, convallis sit amet augue at, tempor rutrum nibh.
        Sed sodales tristique magna ac dictum. Vestibulum non aliquet nibh. Vivamus id leo odio. In lacinia molestie
        sem id aliquet. Nulla eget mollis turpis. Donec euismod euismod magna, eu viverra felis rhoncus sit amet. Morbi
        finibus, orci efficitur tristique volutpat, elit dolor pellentesque mi, eu varius nunc tortor sed augue. Etiam
        gravida lacus sollicitudin nulla mollis cursus. Aliquam dignissim, augue eu rutrum aliquet, nisl neque laoreet
        odio, vel mollis risus leo eu diam.</p>
    </div>
  </div>
</div>