<!-- your posts -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/feed">lightbulb</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/posts/new"><span class="glyphicon glyphicon-plus"></span> New Project</a></li>
        <li><a href="/posts">Your Projects</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">John Doe <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                <span class="dropdown-text"> Portfolio</span>
              </a>
            </li>
            <li>
              <a href="/applications">
                <span class="glyphicon glyphicon-file"></span>
                <span class="dropdown-text"> Applications</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-star"></span>
                <span class="dropdown-text"> Starred</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-list"></span>
                <span class="dropdown-text"> History</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="dropdown-text"> Settings</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-off"></span>
                <span class="dropdown-text"> Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


<div class="container">
  <div class="row"></div>
  <div class="col-md-9">

    <h1 class="page-header">Your Posts</h1>

    <div class="row">
      <div class="col-sm-3 col-md-3 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active posts-sidebar">
            <a href="#">Your Game Project</a>
          </li>
          <li class="posts-sidebar"><a href="#">Your Film Project</a></li>
          <li class="posts-sidebar"><a href="#">Your Music Project</a></li>
          <li class="posts-sidebar"><a href="#">Your Art Project</a></li>
          <li class="posts-sidebar"><a href="posts/new"><span class="glyphicon glyphicon-plus"></span> Add new post</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-md-9 post-area">

        <div class="post">
          <div class="row">
            <div class="col-md-9">
              <h3>Your Game Project</h3>
            </div>
            <div class="col-md-3">
              <a href="#"><h3 class="post-edit">Edit</h3></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <img src="http://goo.gl/Rf1hxl" class="img-rounded post-img">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Description</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies eget lectus eu venenatis.
                Phasellus nibh lectus, molestie ut orci quis, feugiat porttitor nunc. Maecenas vitae ipsum et nunc
                sodales finibus et sollicitudin libero. Proin et sem eros. Proin sodales eleifend consequat. Nullam
                egestas enim at laoreet euismod. Duis sit amet purus massa. Sed tristique semper erat et semper. In
                viverra lacus diam, sit amet consectetur mauris convallis in.</p>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">
              <h4>Roles needed</h4>

              <h5>This Guy</h5>
              <p>Nullam egestas enim at laoreet euismod. Duis sit amet purus massa. Sed tristique semper erat et
                semper. In viverra lacus diam, sit amet consectetur mauris convallis in. Curabitur pharetra at odio
                eu condimentum. </p>

              <h5>That Guy</h5>
              <p>Maecenas massa sapien, rutrum ac aliquam blandit, faucibus non dui. Phasellus vitae augue leo.
                Maecenas ornare lacus justo, et aliquet risus fermentum vel. Nullam a nisi auctor, ultricies libero
                eget, finibus felis. </p>
            </div>
          </div>

          <br>

        </div>

      </div>
    </div>
  </div>
  <div class="col-md-3">

    <h1 class="page-header">Applications</h1>

    <h4>You have 3 applicants</h4>
    <h5>This Guy</h5>
    <ul class="nav nav-sidebar">
      <li class="posts-sidebar"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> Applicant #1</a></li>
      <li class="posts-sidebar"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> Applicant #2</a></li>
    </ul>


    <h5>This Guy</h5>
    <ul class="nav nav-sidebar">
      <li class="posts-sidebar"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> Applicant #1</a></li>
    </ul>

  </div>
</div>
</div>


