/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding-top: 50px;
}

.dropdown-text {
    padding-left: 10px;
}


.col-centered {
    display: block;
    float: none;
    margin: 0 auto;
}

.homepage-search {
    top: 15vh;
}


.jumbotron {
    background-position: center top;
    height: 100vh;
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}


.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #fff;
}


.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #aaa;
}

.feed-category {
    text-align: center;
    font-size: 4em;
}

.feed-category a {
    color: #666;
}

.feed-category .glyphicon {
    line-height: inherit;
}

/* Main content */
@media (min-width: 768px) {
    .post-area {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.post-area .page-header {
    margin-top: 0;
}

.post {
    border-bottom: 1px solid #eee;
}

.post-img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    max-height: 300px;
}